.form-profile-wrap{
    .form-group-profile-wrap{
        input{ display: none;}
    }
    .profile-avatar{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
    }
}